#timer {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    /* flex: 1; */
    align-items: center;
    font: 10px;
    color: black;
    position: absolute;
    float: left;
    left: 150px;    
}

#change {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    /* flex: 1; */
    align-items: center;
    font: 10px;
    color: black;
    position: absolute;
    float: left;
    top: 250px;
}
#reset {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    /* flex: 1; */
    align-items: center;
    font: 10px;
    color: black;
    position: absolute;
    float: left;
    top: 250px;
    left: 200px;
}

#firstDiv {
    width: 100px;
    height: 70px;
    border: 1px solid black;
    /* flex: 1; */
    align-items: center;
    font: 10px;
    color: black;
    position: absolute;
    float: left;
    top: 350px;
}

/* #roomname{
    wi
} */
#rooname {
    width: 150px;
    height: 70px;
    border: 1px solid black;
    position: absolute;
    top: 250px;
    right: 20px;
}
